<div class="box">
  <article class="media">
    <div class="media-left">
      <%= avatar(current_user, size: 80) %>
    </div>
    <div class="media-content">
      <div class="content">
        <strong><%= @payment_type %> (USD <%= @free %>)</span>
        <%= content_tag :p, '楽天の『プラチナ会員』になるためには、過去半年間（6ヵ月間）における楽天ポイントの総獲得数が2,000ポイント以上。ポイントの獲得回数が15回以上の条件をクリアしないとプラチナ会員になれません。' if @payment_type == '白金會員' %>
        <%= content_tag :p, 'BGプレミアVIPクラブの会員になると、会員ランクに応じた割引や、ポイント還元率のUPなどの優待が受けられます。また、VIP会員限定優待セール、VIP会員限定の情報メールなど、会員ランクに応じて様々な豪華特典をご用意しております。' if @payment_type == 'VIP會員' %>
      </div>

        
        <%= form_with url: pay_users_path(type: params[:type]), id: 'pay_form', method: 'post', local: true do |form|%>

        <%= form.hidden_field :payment_nonce %>
          <div id="dropin-container"></div>
          <%= link_to '重新選擇方案', pricing_users_path, class:'button is-light' %>
          <button id="submit-button" class="button is-danger">付款去</button>
        <% end %>
    </div>
  </article>
</div>

<script src="https://js.braintreegateway.com/web/dropin/1.33.0/js/dropin.min.js"></script>
<script>
 document.addEventListener('turbolinks:load', function(event) {
  const button = document.querySelector('#submit-button')
  const nonce_field = document.querySelector('input[name="payment_nonce"]')
  const form = document.querySelector('#pay_form')

   braintree.dropin.create({
     authorization: '<%= @client_token %>',
     container: '#dropin-container'
   }, function (createErr, instance) {
     button.addEventListener('click', function (event) {
       event.preventDefault()

       instance.requestPaymentMethod(function (err, payload) {
        nonce_field.value = payload.nonce
        form.submit()
       })
     })
   })
 })

</script>


